.cardCont{
    width: 100%;
    height: auto;
    border:none
}
.resourceHubCardImg{
    border-radius: 0px;
    height: 90px;
    object-fit: contain;
}
@media(min-width:600px){
    .resourceHubCardImg{
        height: 124px;
    }
}
@media(min-width:1280px){
    .resourceHubCardImg{
        height: 184px;
    }
}
@media(min-width:1680px){
    .resourceHubCardImg{
        height: 200px;
    }
}
.cardImg{
    border-radius: 0px;
}
.cardBody{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-mwebSearch);
}
@media (min-width: 900px) {
    .cardBody {
       padding-bottom: 0px;
    }
}
.cardTitle{
    font-size: var(--font-size-cardTitle);
    font-weight: var(--font-wt-heavy);
    padding-bottom: 4px;
    font-stretch: condensed;
    border-bottom: solid 1px;
    margin: 0px;
}