.bastetSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bastetSection .basketcontent {
  max-width: 1088px;
}
.bastetSection h2 {
  font-size: var(--font-size-xl);
  text-align: center;
}
.bastetSection p {
  font-size: var(--font-size-sm);
  text-align: center;
  font-weight: 200;
}
.bastetSection h3 {
  text-align: center;
}
@media only screen and (max-width: 1140px) {
  .bastetSection {
    padding: var(--padding-xs-36);
  }
}
