.mainCont{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 36px 50px 36px;
    gap: 32px;
}
@media(min-width:900px){
    .mainCont{
        padding: 0px 64px 50px 64px;
    }
}
@media(min-width:1280px){
    .mainCont{
        padding: 0px 64px 60px 64px;
    }
}
@media(min-width:1680px){
    .mainCont{
        padding: 0px 136px 80px 136px;
    }
}
.headingSec{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}