.mainCont{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px var(--padding-xs-36) 50px var(--padding-xs-36);
    gap: 32px;
}
.headingSec{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}