:root {
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-fire: #e53d1c;
  --color-defence: #858e20;

  --font-size-xs: 14px;
  --font-size-xs-ext:14px;
  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-lg: 30px;
  --font-size-xl: 40px;

  --padding-btn: 20px 64px
}

@media only screen and (min-width: 900px) {
  :root {
    --font-size-xs: 15px;
    --font-size-xs-ext:16px;
    --font-size-sm: 17px;
    --font-size-md: 22px;
    --font-size-lg: 35px;
    --font-size-xl: 60px;
  }
}

@media only screen and (min-width: 1680px) {
  :root {
    --font-size-xs-ext:18px;
    --font-size-xs: 16px;
    --font-size-sm: 18px;
    --font-size-md: 25px;
    --font-size-lg: 40px;
    --font-size-xl: 80px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: var(--font-family);
  color: rgb(var(--color-primary));
}

a {
  color: inherit;
  text-decoration: none;
}

