.custom-dot {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--color-slickDot);
    display: inline-block;
    cursor: pointer;
    margin-bottom: 24px;
    top: 0px;
  }

  .active {
    background-color: var(--color-footerBackground);
  }
  .sliderCont{
    padding-bottom: 32px;
  }
