.header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}
.headerLogo {
  width: 157px;
  height: 37px;
  margin: 0px;
}
@media (min-width: 1280px) {
  .headerLogo {
    width: 200px;
    height: 48px;
  }
}
@media (min-width: 1680px) {
  .headerLogo {
    width: 253px;
    height: 60px;
  }
}

.headerMain {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: solid 2px var(--color-secondary);
  padding-bottom: 12px;
}
@media (min-width: 1280px) {
  .headerMain {
    padding-bottom: 16px;
  }
}
@media (min-width: 1680px) {
  .headerMain {
    padding-bottom: 22px;
  }
}

.relativeHeaderMain {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: solid 2px var(--color-primary);
  padding-bottom: 12px;
  padding-top: var(--padding-xs-24);
}
@media (min-width: 1280px) {
  .relativeHeaderMain {
    padding-bottom: 16px;
  }
}
@media (min-width: 1680px) {
  .relativeHeaderMain {
    padding-bottom: 22px;
  }
}

.scrolledHeaderMain{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* border-bottom: solid 2px var(--color-primary); */
  padding-bottom: 12px;
  padding-top: var(--padding-xs-24);
}
@media (min-width: 1280px) {
  .scrolledHeaderMain {
    padding-bottom: 16px;
  }
}
@media (min-width: 1680px) {
  .scrolledHeaderMain {
    padding-bottom: 22px;
  }
}

.headerMainDweb {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: solid 2px var(--color-secondary);
  padding-bottom: 12px;
  width: 100%;
}
.scrolledHeaderMainDweb{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: var(--padding-xs-24);
  padding-bottom: 8px;
  width: 100%;
}
.relativeHeaderMainDweb {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: solid 2px var(--color-primary);
  padding-bottom: 12px;
  padding-top: var(--padding-xs-24);
  width: 100%;
}
@media (min-width: 1280px) {
  .headerMainDweb {
    padding-bottom: 16px;
  }
}
@media (min-width: 1680px) {
  .headerMainDweb {
    padding-bottom: 22px;
  }
}
.hamburger {
  width: 30px;
  height: 30px;
  margin-top: 4px;
}
.offCanvasHeading {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.offCanvasClose {
  width: 16px;
  height: 16px;
}
.offCanvasTitle {
  width: 100%;
  border-bottom: solid 2px;
  padding-bottom: 30px;
}
.offCanvasCont {
  padding: 24px 20px;
}
.offCanvasContDweb {
  padding: 24px 32px 32px 32px;
  height: 90vh !important;
}
@media (min-width: 1680px) {
  .offCanvasContDweb {
    padding: 32px 124px 32px 124px;
  }
}
.offCanvasContDwebSearch{
    padding: 24px 32px 32px 32px;
    height: 42vh !important;
}
@media (min-width: 1280px) {
  .offCanvasContDwebSearch {
    padding: 32px 32px 32px 32px;
    height: 50vh !important;
  }
}
@media (min-width: 1680px) {
  .offCanvasContDwebSearch {
    padding: 32px 124px 32px 124px;
    height: 42vh !important;
  }
}
.offCanvasContDwebSearchRes{
  padding: 24px 32px 32px 32px;
  height: 90vh !important;
}
@media (min-width: 1680px) {
.offCanvasContDwebSearchRes {
  padding: 32px 124px 32px 124px;
}
}
.offCanvasBody {
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width:thin; /* Make the scrollbar slim */
  scrollbar-color: black transparent;
}
.offCanvasBody::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; 
  -webkit-border-radius:4px;/* Height of the scrollbar */
}

.offCanvasBody::-webkit-scrollbar-thumb {
  background-color: red; /* Color of the scrollbar thumb */ /* Border radius of the scrollbar thumb */
}

.offCanvasBody::-webkit-scrollbar-track {
  background-color: transparent; /* Background color of the scrollbar track */
}

.canvasTextItems {
  font-size: var(--font-size-canvas);
  font-weight: var(--font-wt-bold);
}
.searchMwebMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 30px;
  background-color: var(--color-mwebSearch);
}
.searchText {
  line-height: normal;
  margin-top: 4px;
  font-weight: var(--font-wt-bold);
}
.searchIcon {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
}
.basketMwebMain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  padding: 36px 0px;
  border-top: solid var(--color-primary);
  border-bottom: solid var(--color-primary);
}
.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: var(--color-secondary);
  font-size: var(--font-size-xs);
  font-family: "CustomFont-Bold", sans-serif;
  cursor: pointer;
}
@media (min-width: 1280px) {
  .navItems {
    font-size: var(--font-size-sm);
    gap: 36px;
  }
}

@media (min-width: 1680px) {
  .navItems {
    font-size: var(--font-size-sm);
    gap: 52px;
  }
}

.navItemsDrawer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: var(--color-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-wt-bold);
  cursor: pointer;
}
@media (min-width: 1280px) {
  .navItemsDrawer {
    font-size: var(--font-size-sm);
    gap: 36px;
  }
}

@media (min-width: 1680px) {
  .navItemsDrawer {
    font-size: var(--font-size-sm);
    gap: 52px;
  }
}

.subHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
@media (min-width: 1280px) {
  .subHeader {
    padding-bottom: 16px;
  }
}
@media (min-width: 1680px) {
  .subHeader {
    padding-bottom: 20px;
  }
}
.navItemBorder {
  border-bottom: solid 2px;
  border-color: var(--color-navItemBorder);
}
