.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  .headerLogo{
    width: 157px;
    height: 37px;
  }
  .headerMwebMain{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: solid 2px var(--color-secondary);
    padding-bottom: 12px;
  }
  .hamburger{
    width: 30px;
    height: 30px;
    margin-top: 4px;
  }
  .offCanvasHeading{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .offCanvasClose{
    width: 16px;
    height: 16px;
  }
  .offCanvasTitle{
    width: 100%;
    border-bottom: solid 2px;
    padding-bottom: 14px;
  }
  .offCanvasCont{
    padding: 24px 20px;
  }
  .offCanvasBody{
    display: flex;
    flex-direction: column;
    gap:32px;
  }
  .canvasTextItems{
    font-size: var(--font-size-canvas);
    font-weight: var(--font-wt-bold);
  }
  .searchMwebMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
    background-color: var(--color-mwebSearch);
  }
  .searchText{
    line-height: normal;
    margin-top: 4px;
  }
  .searchIcon{
    width: 18px;
    height:18px;
    display: flex;
    align-items: center;
  }
  .basketMwebMain{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:12px;
    padding: 36px 0px;
    border-top: solid var(--color-primary);
    border-bottom: solid var(--color-primary);
  }