.mainCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 900px) {
  .mainCont {
    flex-direction: row;
  }
}
.tableBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
@media (min-width: 900px) {
  .tableBlock {
    width: 55%;
  }
}
@media (min-width: 1280px) {
  .tableBlock {
    padding-right: 8px;
  }
}
@media (min-width: 1680px) {
  .tableBlock {
    padding-right: 28px;
  }
}
.tableItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
  font-size: 12px;
  gap: 8px;
}
.tableItem:nth-child(even) {
  /* Your styles for even numbered .tableItem elements */
  background-color: var(--color-product-back);
}
@media (min-width: 1680px) {
  .tableItem {
    padding: 30px 12px 30px 44px;
  }
}
.itemName {
  font-size: var(--font-size-xs-ext);
  font-weight: var(--font-wt-thin);
  min-width: 30%;
}
.itemVal {
  width: 100%;
  font-size: var(--font-size-xs-ext);
  font-weight: var(--font-wt-thin);
}
.tableItemAlt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
  font-size: 12px;
  gap: 8px;
  background-color: var(--color-product-back);
}
@media (min-width: 1680px) {
  .tableItemAlt {
    padding: 30px 12px 30px 44px;
  }
}
.downloadsBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 900px) {
  .downloadsBlock {
    width: 45%;
    padding-left: 16px;
    border-left: 1px solid var(--color-primary);
  }
}
@media (min-width: 1280px) {
  .downloadsBlock {
    padding-left: 24px;
  }
}
@media (min-width: 1680px) {
  .downloadsBlock {
    padding-left: 50px;
  }
}
.donwloadHead {
  font-size: var(--font-size-lg);
}
.downloadText {
  font-size: var(--font-size-xs-ext);
}
.brochure {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.brochureItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.brochureText {
  font-size: var(--font-size-xs);
}
