.mainCont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
}
.textInput {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    border-bottom: 1px solid white;
    font-size: var(--font-size-md);
    font-weight: var(--font-wt-bold);
    width: 100%;
    outline: none;
  }
  @media(min-width:1280px){
    .textInput {
      font-size: var(--font-size-lg);
    }
  }
  .innerCont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ctaSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
  }
  .suggestionList{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  .suggestionText{
    font-size: var(--font-size-md);
    cursor: pointer;
  }
  .loadingSec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
  }
  .loadingText{
    font-size: var(--font-size-lg);
    padding-top: 4px;
  }