.mainCont{
    width: 100%;
    margin: 0;
    padding:0;
    height: auto;
    display: flex;
}
.section1{
    position: relative;
    height: 450px;
    width: 100%;
}
.section2{
    position: relative;
    height: 450px;
    width: 100%;
}
.innerSection1{
    position: relative;
    width: 120%;
    height: 100%;
    transform: skew(-15deg, 0);
    transform-origin: top right;
}
@media (min-width: 1280px) {
    .innerSection1 {
        width: 115%;
    }
}
@media (min-width: 1680px) {
    .innerSection1 {
        width: 106%;
    }
}
.innerSection2{
    position: relative;
width: 120%;
height: 100%;
transform: skew(-15deg, 0); /* Skew the element along the X-axis */
transform-origin: bottom left;
}
@media (min-width: 1280px) {
    .innerSection2 {
        width: 115%;
    }
}
@media (min-width: 1680px) {
    .innerSection2 {
        width: 106%;
    }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}
.logoAndText{
    position: absolute;
    left: 50%;
    /* right: 50%; */
    transform: translateX(-50%);
    /* top: 80px; */
    bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 999;
}
.overlayText{
    /* padding-bottom: 6px;
    border-bottom: solid 1px; */
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-xs);
    font-weight: var(--font-wt-bold);
}
.overlayText p{
    padding-bottom: 8px;
    border-bottom: solid 1px;
}