.mainCont {
  width: auto;
  font-size: var(--font-size-crumbs);
  padding: var(--padding-16) 0px;
}
.fontBold {
  font-weight: var(--font-wt-bold);
  font-family: "CustomFont-Medium", sans-serif;
}
.fontNormal {
  font-weight: var(--font-wt-normal);
  font-family: "CustomFont-Regular", sans-serif;
}
