.mainCont {
  width: auto;
  font-size: var(--font-size-crumbs);
  padding: 20px 0px 50px 0px;
}
@media(min-width:1280px){
  .mainCont{
    padding: 20px 0px 60px 0px;
  }
}
@media(min-width:1680px){
  .mainCont{
    padding: 20px 0px 80px 0px;
  }
}
.flexCont{
  display: inline;
  border-bottom: 1px solid;
}
.fontBold {
  font-weight: var(--font-wt-bold);
  font-family: "CustomFont-Medium", sans-serif;
}
.fontNormal {
  font-weight: var(--font-wt-normal);
  font-family: "CustomFont-Regular", sans-serif;
}
.mainContwithPadding {
  padding: 20px var(--padding-xs-36) 50px var(--padding-xs-36) ;
}
@media(min-width:1280px){
  .mainContwithPadding{
    padding: 20px var(--padding-xs-36) 60px var(--padding-xs-36) ;
  }
}
@media(min-width:1680px){
  .mainContwithPadding{
    padding: 20px var(--padding-xs-36) 80px var(--padding-xs-36) ;
  }
}
