.aboutBlockDiv {
  background-color: #ededed;
  padding: 50px;
  margin: 0px var(--padding-xs-36);
  margin-bottom: 85px;
}
@media(min-width:1680px){
  .aboutBlockDiv{
    padding: 100px;
  }
}
.aboutBlockTitle {
  margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  .aboutBlockDiv {
    background-color: #ededed;
    padding: 30px;
    margin: 0px var(--padding-xs-36);
  }
}
