.cardCont{
    position: relative;
    width: 100%;
    height: auto;
    border:none
}
.cardImg{
    border-radius: 0px;
    min-height: 280px;
    max-height: 280px;
    object-fit: contain;
    transition: 0.8s;
}
.cardImg:hover {
    transform: scale(1.1);
    z-index: 2;
}

.cardImg:not(:hover) {
    transform: scale(1);
    transition: transform 1s;
}

.cardBody{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 900px) {
    .cardBody {
       padding-bottom: 0px;
    }
}
.cardTitle{
    font-size: var(--font-size-cardTitle);
    font-weight: var(--font-wt-heavy);
    font-stretch: condensed;
    margin: 0px;
}
.saleLabel{
    position: absolute;
    left: 5%;
    top: 10%;
    width: 60px;
    height: 60px;
    background: var(--color-sale);
    color: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xs-ext);
}
@media (min-width:1680){
    .saleLabel{
        width: 95px;
        height: 95px;
    }
}