.mainCont{
  padding: var(--padding-18) var(--padding-xs-36);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 32px;
}
@media(min-width:900px){
  .mainCont{
    flex-direction: row;
  }
}
.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto; /* Auto-sized rows */
    grid-template-columns: repeat(1, 1fr); /* Five columns with equal width */
    grid-gap: 20px;
  }
  @media (min-width: 600px) {
    .products {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }
  @media (min-width: 900px) {
    .products {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
  }
  .filterCont{
    width: 100%;
    height: auto;
  }
  .pageNumCont {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 900px) {
    .pageNumCont {
      gap: 12px;
    }
  }
  .arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 18px;
    height: 18px;
  }
  @media (min-width: 900px) {
    .arrows {
      width: 25px;
      height: 30px;
    }
  }
  .pagesCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0px;
  }
  @media (min-width: 900px) {
    .pagesCont {
      justify-content: flex-end;
      gap: 48px;
    }
  }
  .showBlock {
    width: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
    gap: 12px;
    border: solid 2px var(--color-primary);
    padding: var(--padding-8) var(--padding-16);
    cursor: pointer;
  }
  @media (min-width: 900px) {
    .showBlock {
      gap: 28px;
    }
  }
  .showText {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: var(--font-size-xs-ext);
    margin-top: 4px;
    flex: 1 1 10%;
  }
  .show {
    font-weight: var(--font-wt-normal);
  }
  .itemNum {
    font-weight: var(--font-wt-bold);
  }
  .downArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 14px;
    height: 14px;
  }
  @media (min-width: 900px) {
    .downArrow {
      width: 16px;
      height: 16px;
    }
  }
  .dropDown {
    background-color: var(--color-secondary);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    left: 0px;
    top: 49px;
    z-index: 2;
    filter: drop-shadow(rgba(64, 64, 64, 0.156) 0px 6px 6px);
  }
  .showItems {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    align-items: center;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px var(--color-primary);
  }
  .showItems:hover {
  background-color: #000;
  color: #fff;
}
  .pageNum {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 20px;
    color: var(--color-primary);
    cursor: pointer;
    font-size: var(--font-size-xs);
  }
  @media (min-width: 900px) {
    .pageNum {
      min-width: 35px;
      height: 35px;
    }
  }
  .pageNumHighlighted {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 20px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: pointer;
    font-size: var(--font-size-xs);
  }
  @media (min-width: 900px) {
    .pageNumHighlighted {
      min-width: 35px;
      height: 35px;
    }
  }
  .numText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  }
  .listingCont{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  @media(min-width:900px){
    .listingCont{
      gap: 32px;
      width: 80%;
    }
  }
  @media(min-width:1280px){
    .listingCont{
      gap: 32px;
      width: 75%;
    }
  }
  .noPostText{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the popup is above other content */
}
.popupContent {
    background-color: white;
    padding: 36px;
    width: 90%;
    height: 320px;
    overflow-y: scroll;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Ensure the popup content is above the background */
}
@media(min-width:1024px){
  .popupContent{
    height: 260px;
  }
}
.popupCont{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: auto;
}
.headingSec{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.closeBtnSec{
width: 100%;
display: flex;
justify-content: flex-end;
cursor: pointer;
}
.closeBtn {
  width: 16px;
  height: 16px;
}
.popupHeading{
  font-size: var(--font-size-lg);
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
}
@media(min-width:1024px){
  .form{
    flex-direction: row;
  }
}
.formDiv {
  position: relative;
  display: flex;
  gap: 16px;
  width: 100%;
  /* max-width: 500px; */
}
.formInput {
  position: relative;
  width: 100%;
  height: auto;
}
.textInput {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  border-bottom: 2px solid var(--color-primary);
  font-size: var(--font-size-xs-ext);
  width: 100%;
  outline: none;
  padding-bottom: 8px;
}
/* Style placeholder text */
.textInput::placeholder {
  color: var(--color-primary);
  opacity: 0.5;
  font-weight: var(--font-wt-bold); /* White with 50% opacity */
}
.textInputPhoneNum {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  padding-left: 90px;
  border-bottom: 2px solid var(--color-primary);
  font-size: var(--font-size-xs-ext);
  width: 100%;
  outline: none;
  padding-bottom: 8px;
}
/* Style placeholder text */
.textInputPhoneNum::placeholder {
  color: var(--color-primary);
  opacity: 0.5;
  font-weight: var(--font-wt-bold); /* White with 50% opacity */
}
.errorMsg {
  padding-top: 8px;
  color: var(--color-fire);
  font-size: var(--font-size-xs);
}