.mainCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: var(--padding-18) var(--padding-xs-36);
    gap: 60px;
}
@media (min-width:900px){
    .mainCont{
        flex-direction: row;
        align-items: flex-start;
    }
}
.btnShareSec{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.iconShareSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
@media (min-width:900px){
    .iconShareSec{
        align-items: flex-start;
    }
}
.iconSec{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    height: 20px;
}
.imgSec{
    display:inline-block;
    cursor: pointer;
}
.contentSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;
}
@media (min-width:900px){
    .contentSection{
        width: 70%;
    }
}
.btnSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the popup is above other content */
}
.popupContent {
    background-color: white;
    padding: 20px;
    width: 90%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Ensure the popup content is above the background */
}
@media(min-width:600px){
    .popupContent{
        width: 70%;
        max-width: 600px;
        padding: 40px;
    }
}
@media(min-width:900px){
    .popupContent{
        width: 50%;
        max-width: 600px;
    }
}
.playerSec{
    width: 100%;
    height: 100%;
    position: relative;
}
.videoIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
}
.videoWrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
    overflow: hidden;
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -6;
  }
  .playPauseBorder{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 2px var(--color-secondary);
  }
  @media(min-width:600px){
    .playPauseBorder{
        width: 60px;
        height: 60px;
    }
  }
  @media(min-width:1680px){
    .playPauseBorder{
        width: 84px;
        height: 84px;
    }
  }
  .imageAndText {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 28px;
}
/* @media (min-width: 900px) {
  .imageAndText {
    width: 50%;
  }
} */
.imageBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  @media (min-width: 900px) {
    .imageBlock {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
  .mainImg {
    position: relative;
    width: 100%;
    height: auto;
    height: 250px;
    /* max-height: 340px; */
  }
  @media (min-width: 900px) {
    .mainImg {
      position: relative;
      width: 100%;
      /* height: auto; */
      height: 340px;
      max-height: 340px;
    }
  }
  .sliderSection {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }