.productImage {
  width: 170px;
}
.headerRow {
  background-color: #f3f3f3;
  padding: 20px 35px;
  margin-bottom: 35px;
  font-size: var(--font-size-md);
}

.backetProducts {
  padding: var(--padding-xs-36);
}
.backetProducts h3 {
  font-size: var(--font-size-md);
  margin: 0;
}
.horizontalLine {
  border: 0;
  height: 2px;
  background-color: #ededed; /* Change this to the desired color */
  margin: 20px 0; /* Adjust margin as needed */
}
.BasketItemsRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .productImage {
    width: 100%;
  }
  .BasketItemsRow {
    display: flex;
    justify-content: center;
    align-items: start;
  }
}
.quantityInput{
  padding-bottom: 70px;
}
