.titletextcentre {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-text-center-block);
}
.titletextcentre div {
  max-width: 1088px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.titletextcentre h2 {
  font-size: var(--font-size-lg);
  color: var(--color-primary);
  text-align: center;
}
.titletextcentre p {
  font-size: var(--description);
  text-align: center;
}
